<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/"> Events </a></li>
    <li><a href="/participants"> Participants </a></li>
  </ul>

  <div class="tab-content">
    <h1>Editing Event</h1>

    <%= render 'form', event: @event %>

    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>